header#pgHeader.pg-header
  nav#menu.nav
    button#menuTrigger.nav__btn
      span.nav__btn-line
    ul#menuList.nav__list
      li.nav__item
        a.nav__link(href="/about.html", title="About me") About me
      li.nav__item
        a.nav__link(href="/showcase/", title="Some works") Showcase
  .logo
    a.logo__link(href="/", title="Вернуться на Главную страницу") Nazar Linovetskiy
