- var pageTitle = "Showcase - Easy JS Filter";
- var UrlLvl = "../";
include ../components/main/templates/head.pug
body
  include ../components/pgheader/templates/pgheader.pug
  main.pg-main
    .headline(style="background: url('easyfilter/images/orange6.jpg');")
      p.headline__text Easy JS Filter
    .infocard
      .infocard__content
        p.infocard__text Javascript фильтр по категориям для веб-каталогов. Решение написано на Javascript и в качестве флагов для компановки элементов использует динамические HTML атрибуты, манипулируя CSS селекторами.
        p.infocard__text Этот скрипт можно просто взять и сразу начать использовать на своем сайте.
        ul.infocard__tags
          li.infocard__tags-item Web Components
          li.infocard__tags-item UI/UX Design
          li.infocard__tags-item HTML/CSS
          li.infocard__tags-item Javascript
          li.infocard__tags-item jQuery
      aside.infocard__sidebar
        div.infocard__sidebar-item
          a.infocard__link.btn.btn--green.btn--fullwidth(href="/showcase/easyfilter") Show Demo
        div.infocard__sidebar-item
          a.infocard__link(href="http://codepen.io/discoder/pen/LWRBGq", target="_blank")
            span.infocard__icon
              svg.infocard__svg
                use(x="0", y="0", xlink:href="#svg-codepen24")
            span.infocard__link-text Show on Codepen
    include ../components/showcase/templates/showcase.pug
  include ../components/pgfooter/templates/pgfooter.pug
script(src='../scripts/main.js')
