- var pageTitle = "Showcase - Eventblaster";
- var UrlLvl = "../";
include ../components/main/templates/head.pug
body
  include ../components/pgheader/templates/pgheader.pug
  main.pg-main
    .headline(style="background: url('eventblaster/images/bg2.jpg');")
      p.headline__text Eventblaster
    .infocard
      .infocard__content
        p.infocard__text Eventblaster -  бесплатный онлайн-сервис, помогающий пользователям организовывать развлекательные ивенты и культурные мероприятия в своем городе.
        p.infocard__text В рамках проекта я разрабатывал его клиентскую часть. Передо мной стаяла задача - спроектировать готовый front-end шаблон, для его дальнейшей интеграции с серверным функционалом. Требовалось создать универсальную адаптивную HTML/CSS структуру сайта, разделенную на независимые модули, с возможностью их простого повторного использования (компонентный подход). Так же я работал над прототипами новых разделов сайта и интерфейсами взаимодействия в качестве UI/UX дизайнера. В процессе создания шаблона было написано не мало Javascript кода, в основном как часть реализации того или иного интерфейса/компонента страници. В качестве препроцессора я использовал jQuery.
        p.infocard__text В результате мы получили единый шаблон, реализованный по принципу адаптивных кросс-платформенных веб-приложений, который можно было отдавать back-end разработчикам для дальнейшей работы.
        ul.infocard__tags
          li.infocard__tags-item Web Sites
          li.infocard__tags-item UI/UX Design
          li.infocard__tags-item HTML/CSS
          li.infocard__tags-item Javascript
          li.infocard__tags-item jQuery
          li.infocard__tags-item Responsive
      aside.infocard__sidebar
        div.infocard__sidebar-item
          a.infocard__link.btn.btn--green.btn--fullwidth(href="http://eventblaster.ru/", target="_blank") Visit Site
    include ../components/showcase/templates/showcase.pug
  include ../components/pgfooter/templates/pgfooter.pug
script(src='../scripts/main.js')
