- var pageTitle = "Showcase - Home";
- var UrlLvl = "../";
include ../components/main/templates/head.pug
body
  include ../components/pgheader/templates/pgheader.pug
  main.pg-main
    include ../components/showcase/templates/showcase.pug
  include ../components/pgfooter/templates/pgfooter.pug
script(src='../scripts/main.js')
