include ../components/main/templates/head.pug
body
  nav.demonav
    header.demonav__header
      button.demonav__back Back
      h1.demonav__title Script name
    ul.demonav__sources
      li.demonav__sources-item
        a.demonav__sources-link
          span.demonav__sources-icon
            svg.demonav__sources-svg
              use(x="0", y="0", xlink:href="#svg-download24")
          span.demonav__sources-text Download
      li.demonav__sources-item
        a.demonav__sources-link
          span.demonav__sources-icon
            svg.demonav__sources-svg
              use(x="0", y="0", xlink:href="#svg-download24")
          span.demonav__sources-text Download
      li.demonav__sources-item
        a.demonav__sources-link
          span.demonav__sources-icon
            svg.demonav__sources-svg
              use(x="0", y="0", xlink:href="#svg-download24")
          span.demonav__sources-text Download
script(src='../scripts/main.js')
