include ../components/main/templates/head.pug
body
  include ../components/pgheader/templates/pgheader.pug
  main.pg-main
    .headline
      p.headline__text Portfolio item
    .infocard
      .infocard__content
        p.infocard__text Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
        ul.infocard__tags
          li.infocard__tags-item HTML
          li.infocard__tags-item Layout
          li.infocard__tags-item UI/UX
          li.infocard__tags-item CSS
          li.infocard__tags-item Javascript
      aside.infocard__sidebar
        div.infocard__sidebar-item
          a.infocard__link.btn.btn--green.btn--fullwidth Show Demo
        div.infocard__sidebar-item
          a.infocard__link
            span.infocard__icon
              svg.infocard__svg
                use(x="0", y="0", xlink:href="#svg-download24")
            span.infocard__link-text Download
        div.infocard__sidebar-item
          a.infocard__link
            span.infocard__icon
              svg.infocard__svg
                use(x="0", y="0", xlink:href="#svg-github24")
            span.infocard__link-text GitHub
        div.infocard__sidebar-item
          a.infocard__link
            span.infocard__icon
              svg.infocard__svg
                use(x="0", y="0", xlink:href="#svg-codepen24")
            span.infocard__link-text Codepen
    include ../components/showcase/templates/showcase.pug
  include ../components/pgfooter/templates/pgfooter.pug
script(src='../scripts/main.js')
