- var pageTitle = "Showcase - Step by step registration form";
- var UrlLvl = "../";
include ../components/main/templates/head.pug
body
  include ../components/pgheader/templates/pgheader.pug
  main.pg-main
    .headline(style="background: #d3a981; background: -moz-linear-gradient(-45deg, #d3a981 0%, #cd9ea4 100%); background: -webkit-linear-gradient(-45deg, #d3a981 0%,#cd9ea4 100%); background: linear-gradient(135deg, #d3a981 0%,#cd9ea4 100%);")
      p.headline__text Step by step registration form
    .infocard
      .infocard__content
        p.infocard__text Пошаговая форма регистрации для сайта. Написана на Javascript с использованием библиотек: jQuery и jQuery Easing. Есть возможность создавать произвольное число шагов и дополнительные поля формы.
        ul.infocard__tags
          li.infocard__tags-item Web Components
          li.infocard__tags-item UI/UX Design
          li.infocard__tags-item HTML/CSS
          li.infocard__tags-item Javascript
          li.infocard__tags-item jQuery
      aside.infocard__sidebar
        div.infocard__sidebar-item
          a.infocard__link.btn.btn--green.btn--fullwidth(href="/showcase/stepsform", target="_blank") Show Demo
    include ../components/showcase/templates/showcase.pug
  include ../components/pgfooter/templates/pgfooter.pug
script(src='../scripts/main.js')
