@import "vars";

.pg-header {
    position: relative;
    padding: 90px 7% 0;
    overflow: hidden;

    &--fixed {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.nav {
    float: left;

    &__btn {
        display: none;
        position: relative;
        z-index: 101;
        padding: 0;
        border: none;
        background: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__btn-line {
        position: relative;
        display: block;
        width: 100%;
        height: 5px;
        background-color: #888;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
            width: 100%;
            height: 5px;
            background-color: #888;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }

        &::after {
            top: 9px;
        }
    }

    &__item {
        display: inline-block;
        line-height: 2rem;
        margin: 0 20px 0 0;
        list-style: none;
    }

    &__link {
        font-family: 'EB Garamond', serif;
        display: inline-block;
        font-size: 1.4rem;
        color: #484747;
        position: relative;
        text-decoration: none;
    }

    &--active {

        .nav__list {
            display: block;
            position: fixed;
            z-index: 101;
            top: 100px;
            left: 0;
            width: 100%;
        }

        .nav__btn-line {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &::after {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }
}

.logo {
    position: relative;
    float: right;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;

    &__link {
        color: #000;
        text-decoration: none;
        transition: all .2s easy;
        -webkit-transition: all .2s easy;
    }
}

.is--open-menu {

    .logo {
        z-index: 101;

        &__link {
            color: #ccc;
        }
    }
}

@media (max-width: @tablet) {
    .pg-header {
        padding: 30px 7% 0;
    }

    .nav {

        &__btn {
            display: block;
        }

        &__list {
            display: none;
        }

        &__item {
            display: block;
            padding: 15px 0;
            text-align: center;
        }

        &__link {
            font-size: 2rem;
            color: #f6f6f6;
        }
    }
}
