.showcase {
    margin: 0 auto 60px;
    overflow: hidden;

    &__item {
        position: relative;
        float: left;
        width: 50%;
        height: 300px;
        padding: 34px 10px 0 34px;
        overflow: hidden;
        color: #fff;

        &:hover {
            .showcase__tags {
                display: none;
            }
            .showcase__desc {
                display: block;
            }
            .showcase__overlay {
                display: block;
            }
        }

        &.showcase__item--dark {
            color: #000;

            .showcase__title {
                color: #000;
            }
        }

        &--easyfilter {
            background: #fff268;
            background: -moz-linear-gradient(-45deg, #fff268 0%, #ffbb32 100%);
            background: -webkit-linear-gradient(-45deg, #fff268 0%,#ffbb32 100%);
            background: linear-gradient(135deg, #fff268 0%,#ffbb32 100%);

            .showcase__overlay {
                background: #fff268;
                background: -moz-linear-gradient(-45deg, #fff268 0%, #ffbb32 100%);
                background: -webkit-linear-gradient(-45deg, #fff268 0%,#ffbb32 100%);
                background: linear-gradient(135deg, #fff268 0%,#ffbb32 100%);
            }
        }

        &--eventblaster {
          background: #170e2b;
          background: -moz-linear-gradient(-45deg, #170e2b 0%, #351137 100%);
          background: -webkit-linear-gradient(-45deg, #170e2b 0%,#351137 100%);
          background: linear-gradient(135deg, #170e2b 0%,#351137 100%);

          .showcase__overlay {
              background: #170e2b;
              background: -moz-linear-gradient(-45deg, #170e2b 0%, #351137 100%);
              background: -webkit-linear-gradient(-45deg, #170e2b 0%,#351137 100%);
              background: linear-gradient(135deg, #170e2b 0%,#351137 100%);
          }
        }

        &--stepsform {
            background: #d3a981;
            background: -moz-linear-gradient(-45deg, #d3a981 0%, #cd9ea4 100%);
            background: -webkit-linear-gradient(-45deg, #d3a981 0%,#cd9ea4 100%);
            background: linear-gradient(135deg, #d3a981 0%,#cd9ea4 100%);

            .showcase__overlay {
                background: #d3a981;
                background: -moz-linear-gradient(-45deg, #d3a981 0%, #cd9ea4 100%);
                background: -webkit-linear-gradient(-45deg, #d3a981 0%,#cd9ea4 100%);
                background: linear-gradient(135deg, #d3a981 0%,#cd9ea4 100%);
            }
        }
    }

    &__header {
        position: relative;
        z-index: 3;
    }

    &__title {
        margin: 0 0 10px;
        color: #fff;
    }

    &__tags {
        overflow: hidden;

        &-item {
            float: left;
            width: 50%;
            list-style: none;
        }
    }

    &__desc {
        display: none;
        position: relative;
        z-index: 3;
    }

    &__footer {
        position: absolute;
        bottom: 34px;
        left: 34px;
        z-index: 3;
    }

    &__view-link {
        display: inline-block;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: auto;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    &__overlay {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: @tablet) {
    .showcase {
      margin: 0 auto 20px;

      &__item {
          float: none;
          width: 100%;
          height: 300px;
        }
    }
}
