@import "vars";

.pg-footer {
    padding: 30px 7%;
    border-top: 1px solid @pgfooterBorderColor;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33, 33, 33, 1);

    &--active {
        display: block;
    }
}

@media (max-width: @tablet) {
    .pg-footer {
        padding: 10px 7%;
    }
}
