- var pageTitle = "Nazar Linovetskiy - About me";
- var UrlLvl = "";
include components/main/templates/head.pug
body
  include components/pgheader/templates/pgheader.pug
  main.pg-main
    .content
      h3 Я UX/UI Дизайнер и Front-end Разработчик из Киева, Украина.
      p На протяжении последних семи лет я работаю с различными технологиями веб-разработки. За это время принимал участие в создании как не больших персональных сайтов, так и высоконагруженных социальных сервисов. В основном я могу быть полезен как дизайнер-проектировщик и front-end разработчик.
      h3 Skills:
      ul
        li UI/UX Desing;
        li HTML/CSS (Responsive, Adaptive, BEM);
        li Jade/Pug, LESS/SCSS;
        li JavaScript (ES2015, ES2016, jQuery);
        li PHP;
        li Node.js (Express.js, MongoDB);
        li MVC Frameworks (Vue.js, Angular.js, Backbone.js);
        li Web-Components, Social API;
        li Git
      p Я предпочитаю использовать компонентный подход в разработке и препроцессоры, на подобии <a href="https://pugjs.org/api/getting-started.html" target="_blank">Pug</a> для HTML и <a href="http://lesscss.org/" target="_blank">Less</a> для CSS. Так же я активно использую Javascript и фреймворки на его основе там, где требуется создание более сложной архитектуры приложения. Помимо написания кода, я занимаюсь дизайном, вопросами информационной архитектуры, имею опыт управления проектами. Еще я люблю музыку, велопрогулки и японскую литературу.
      p В настоящее время я открыт для новых проектов и готов обсудить ваши предложения в скайпе или в почтовой переписке.
      h3 Ссылки:
      ul
        li
          a(href="https://github.com/discoder-git/", title="Nazar Linovetskiy on GitHub", target="_blank") GitHub
        li
          a(href="http://codepen.io/discoder/", title="Nazar Linovetskiy on Codepen", target="_blank") Codepen
  include components/pgfooter/templates/pgfooter.pug
script(src='scripts/main.js')
