- var pageTitle = "Nazar Linovetskiy - freelance front-end developer";
- var UrlLvl = "";
include components/main/templates/head.pug
body
  include components/pgheader/templates/pgheader.pug
  main.pg-main
    .intro
      p.intro__text Приветствую, моё имя Назар Линовецкий. Я front-end разработчик и UI/UX дизайнер. Последние семь лет я работаю над созданием веб-приложений, от одностраничных сайтов, до сложных социальных сервисов.
      p.intro__text Я занимаюсь: проектированием опыта взаимодействия пользователей с веб-приложением, разработкой интерфейсов, созданием HTML/CSS разметки, написанием Javascript функционала, включая реализацию MVC модели для сложных интернет-проектов. Так же я работаю с широким кругом препроцессоров, фреймворков и других технологий, помогающих разрабатывать качественные веб-сервисы.
      p.intro__text Вы можете предложить мне работу или просто поздороваться написав письмо на 
        a.intro__link(href="mailto:nazar.linovetskiy@gmail.com", title="Написать письмо") nazar.linovetskiy@gmail.com
    include components/showcase/templates/showcase.pug
  include components/pgfooter/templates/pgfooter.pug
script(src='scripts/main.js')
