- var pageTitle = "Nazar Linovetskiy - Styleguide";
- var UrlLvl = "";
include components/main/templates/head.pug
body
  include components/pgheader/templates/pgheader.pug
  main.pg-main
    .headline
      p.headline__text Styleguide
    .content
      ul
        li
          a(href="/") Home
        li
          a(href="portfolio-item.html") Portfolio item
        li
          a(href="styleguide.html") Styleguide
      h1 headline__text
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
      h2 headline__text
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
      h3 headline__text
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
  include components/pgfooter/templates/pgfooter.pug
script(src='scripts/main.js')
