doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="author", content="Nazar Linovetskiy")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;subset=cyrillic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;subset=cyrillic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;subset=cyrillic")
    link(rel='stylesheet', href='' + UrlLvl + 'styles/general.css')
