- var rootUrl = "/showcase/";

.showcase

  .showcase__item.showcase__item--easyfilter.showcase__item--dark
    header.showcase__header
      h3.showcase__title Easy JS filter
      ul.showcase__tags
        li.showcase__tags-item Web Components
        li.showcase__tags-item UI/UX Design
        li.showcase__tags-item HTML/CSS
        li.showcase__tags-item Javascript
        li.showcase__tags-item jQuery
    img.showcase__image(src=rootUrl + "easyfilter/images/orange6.jpg", alt="Orange")
    .showcase__desc Javascript фильтр по категориям для веб-каталогов
    footer.showcase__footer
      a.showcase__view-link.btn(href="/showcase/easyfilter.html") Show more
    .showcase__overlay
    
  .showcase__item.showcase__item--eventblaster
    header.showcase__header
      h3.showcase__title Eventblaster
      ul.showcase__tags
        li.showcase__tags-item Web Sites
        li.showcase__tags-item UI/UX Design
        li.showcase__tags-item HTML/CSS
        li.showcase__tags-item Javascript
        li.showcase__tags-item jQuery
        li.showcase__tags-item Responsive
    img.showcase__image(src=rootUrl + "eventblaster/images/bg2.jpg", alt="Trumpet")
    .showcase__desc Онлайн-сервис, помогающий пользователям организовывать развлекательные ивенты и культурные мероприятия
    footer.showcase__footer
      a.showcase__view-link.btn(href="/showcase/eventblaster.html") Show more
    .showcase__overlay
    
  .showcase__item.showcase__item--stepsform
    header.showcase__header
      h3.showcase__title Step by step registration form
      ul.showcase__tags
        li.showcase__tags-item Web Components
        li.showcase__tags-item UI/UX Design
        li.showcase__tags-item HTML/CSS
        li.showcase__tags-item Javascript
        li.showcase__tags-item jQuery
    .showcase__desc Пошаговая форма регистрации на сайте
    footer.showcase__footer
      a.showcase__view-link.btn(href="/showcase/stepsform.html") Show more
    .showcase__overlay
    
  
