@import "vars";

html, body, div, span, applet,
object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre,
a, abbr, acronym, address, big,
cite, code, del, dfn, em,
img, ins, kbd, q, s,
samp, small, strike,
strong, sub, sup, tt,
var, dl, dt, dd, ol, ul,
li, fieldset, form, label,
legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

html {
    background: @mainBgColor;
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    background: @mainBodyBgColor;
    max-width: 1200px;
    margin: 0 auto;
    color: #484747;
}

h1 {
    font-family: 'Arsenal', sans-serif;
    font-size: 3.4rem;
    line-height: 5.2rem;
    color: #484747;
}

h2 {
    font-family: 'Arsenal', sans-serif;
    font-size: 3.6rem;
    line-height: 5.2rem;
    color: #0e0e0e;
}

h3 {
    font-family: 'Arsenal', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #0e0e0e;
}

p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #484747;
}

a {
    cursor: pointer;
    color: blue;
}

small {
    font-size: .875rem;
}

.btn {
    display: inline-block;
    padding: 10px 24px;
    background: #484747;
    color: #f6f6f6;
    border: none;
    text-align: center;
    text-decoration: none;
    transition: all .2s linear;

    &:hover {
        background: #333;
        color: #fff;
    }

    &--green {
        background: #87D37C;

        &:hover {
            background: #71BD66;
        }
    }

    &--fullwidth {
        width: 100%;
    }
}

.pg-main {
    padding: 90px 7% 0;
}

/* START: Default content style */
.content {
    margin: 0 auto 60px;

    h1, h2, h3, h4, p, ul {
        margin: 0 0 20px;
    }

    li {
        margin: 6px 0 6px 22px;

        &:first-of-type {
            margin: 0px 0px 6px 22px;
        }
    }
}
/* END: Default content style */

/* START: [element]Intro */
.intro {
    width: 75%;
    margin: 0 auto 60px;

    &__text {
        margin: 0 0 20px;
        font-family: 'Arsenal', sans-serif;
        font-size: 1.3rem;
        line-height: 2rem;
        color: #6b6a6a;
        text-align: center;

        &:last-of-type {
            margin: 0;
        }
    }
}
/* END: [element]Intro */

/* START: [element]Headline */
.headline {
    padding: 68px 8px 34px;
    margin: 0 auto 30px;
    background: #f5f5f5;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &__text {
        display: inline-block;
        padding: 0 4px;
        background: #fff;
        font-family: 'Arsenal', sans-serif;
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-weight: 700;
    }
}
/* END: [element]Headline */

/* START: [element]Infocard */
.infocard {
    margin: 0 auto 60px;
    overflow: hidden;

    &__content {
        float: left;
        width: 74%;
        padding: 0 30px 0 0;
    }

    &__text {
        margin: 0 0 20px;
    }

    &__tags-item {
        display: inline-block;
        color: #a6a6a6;

        &::after {
            content: ',';
            display: inline-block;
            margin: 0 8px 0 0;
        }

        &:first-of-type {

            &::before {
                content: 'Tags:';
                display: inline-block;
                margin: 0 8px 0 0;
                color: #484747;
            }
        }

        &:last-of-type {

            &::after {
                display: none;
            }
        }
    }

    &__sidebar {
        float: left;
        width: 26%;
        border: 4px solid #ccc;
        padding: 16px;
    }

    &__sidebar-item {
      margin: 0 0 8px;

      &:last-of-type {
          margin: 0;
      }
    }

    &__link {
        display: inline-block;
    }

    &__link-text {
        display: inline-block;
        line-height: 24px;
        vertical-align: middle;
    }

    &__icon {
        display: inline-block;
        margin: 0 8px 0 0;
    }

    &__svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
}
/* END: [element]Infocard */

#svg-wrapper {
    display: none;
}

@media (max-width: @tablet) {

    .pg-main {
        padding: 30px 7% 0;
    }

    /* START: Default content style */
    .content {
        margin: 0 auto 20px;

        h1, h2, h3, h4, p, ul {
            margin: 0 0 10px;
        }
    }
    /* END: Default content style */

    /* START: [element]Intro */
    .intro {
        width: 90%;
        margin: 0 auto 30px;

        &__text {
            font-size: 1.2rem;
            line-height: 1.6rem;
            margin: 0 0 10px;
        }
    }
    /* END: [element]Intro */

    /* START: [element]Headline */
    .headline {
        margin: 0 auto 20px;
    }
    /* END: [element]Headline */

    /* START: [element]Infocard */
    .infocard {
        margin: 0 auto 20px;

        &__content {
            float: none;
            width: 100%;
            padding: 0;
            margin: 0 0 20px;
        }

        &__text {
            margin: 0 0 10px;
        }

        &__sidebar {
            float: none;
            width: 100%;
        }
    }
    /* END: [element]Infocard */
}
